{% extends 'user_authentication/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4"><strong>Password Reset Complete</strong></h2>
                    <p style='font-size:12px;'>Your password has been successfully reset. You can now log in with your new password.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3 button-23">Go to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
