{% extends 'admin_side/admin_base.html' %}
{% block content5 %}class='active'{%endblock%}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<style>
    .dataTables_info{
        font-size:12px;
        color:black;
        
    }
    .dataTables_paginate{
        font-size:12px;
        color:black;

    }
    .dataTables_length{
        font-size:12px;
        color:black;
    }
    .dataTables_filter{
        font-size:14px;
        color:black;
    }
</style>
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1><strong>Categories</strong></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li class="active">Categories</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'add_categories' %}" ><button type="button" class="btn btn-dark float-right mx-5 mt-3"  style='border-radius:15px;'>Add Categories</button></a>

        <div class="content">
            <div class="card-header">
                <strong class="card-title">Categories Table</strong>
            </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card p-3"> 
                            
                            <div class="table-stats  ov-h">
                                <table class="table datatable table-striped table-bordered ">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Category Name</th>
                                            <th>description</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in m %}
                                        <tr>
                                            <td class='id'>{{i.id}}</td>
                                            <td>  <span class="name">{{i.category_name}}</span> </td>
                                            <td> <span class="product">{{i.description}}</span> </td>
                                            {% if i.is_listed %}
                                            <td>
                                                <a href="../category_control/{{i.id}}"><button class="badge badge-danger">Unlist</button></a>
                                            </td>
                                            {%else%}
                                            <td>
                                                <a href="../category_control/{{i.id}}"><button class="badge badge-success">List</button></a>
                                            </td>
                                            {%endif%}
                                            <td> 
                                                <a href="../edit_categories/{{i.id}}"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // DataTable initialization
        var dataTable = $('.datatable').DataTable(); 

        // Search functionality
        $('#searchBtn').on('click', function () {
            var searchValue = $('#searchInput').val().toLowerCase();
            dataTable.search(searchValue).draw();
        });

        // Filter functionality
        $('#categoryFilter').on('change', function () {
            var categoryValue = $(this).val().toLowerCase();
            dataTable.column(3).search(categoryValue).draw(); // Adjust the column index based on your data
        });
    });
</script>
{%endblock%}


